<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png"
<head>

</head>
<title>About</title>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Ayan. It uses data from api.positionstack.com and api.weatherstack.com </p>
    <img class= 'potrait' src="/img/20220503_074353.jpg">
    </div>   
    {{>footer}}
</body>

</html>